<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.EtcMapper">
<select id="getHoliday" resultType="com.example.demo.HolDto">
	select id, title, right(dday,2) as dday from holiday where
	dday like concat(#{day},'%')
</select>
</mapper>